/* Estilos generales */
#cabecera{
  text-align: left;
  background: #2f4f4f;
  word-spacing: 50px;
  padding: 20px;
}

.enlace{
  color: aliceblue;
  word-spacing: 8px;
  font-size: 20px;
  text-decoration: none;
}

.titulo{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:24px
}