#cabecera {
  display: flex; /* Activar flexbox */
  align-items: center; /* Centrar verticalmente los elementos */
  background: #2f4f4f;
  padding: 20px;
}

#enlaces {
  display: flex; /* Flex para los enlaces */
  gap: 20px; /* Espacio entre enlaces */
  margin-right: auto;
}

.enlace {
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}

.titulo {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}

.twitter {
  margin-left: auto; /* Empuja el icono hacia la derecha */
  width: 20px;
  height: auto;
}

#divDescripcion{
  text-align: left;
}